[package]
name = "customer-sync"
version = "0.3.755-dev"
license = "FSL-1.1-ALv2"
edition = "2024"

[features]
fail-on-warnings = []

[dependencies]

core-customer = { path = "../../core/customer" }
core-deposit = { path = "../../core/deposit" }
governance = { path = "../../core/governance" }

outbox = { path = "../../lib/outbox" }
job = { path = "../../lib/job" }
audit = { path = "../../lib/audit" }
authz = { path = "../../lib/authz" }
kratos-admin = { path = "../../lib/kratos-admin" }

tracing = { workspace = true }
serde = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
thiserror = { workspace = true }
